/* ==========================================================================
Main page styles
========================================================================== */

.collaboration {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/collaboration-meeting-736x414.jpg') no-repeat center top;
    background-size: contain;
}

.Atrium {
    display: inline-block;
    width: 736px;
    height: 414px;
    background: url('../../content/images/Inmar-Atrium-BG-blur-736x414.jpg') no-repeat center top;
    background-size: contain;
}

.warehouse {
    display: inline-block;
    width: 736px;
    height: 414px;
    background: url('../../content/images/Inmar-Warehouse-736x414.jpg') no-repeat center top;
    background-size: contain;
}

.pharmacy {
    display: inline-block;
    width: 736px;
    height: 414px;
    background: url('../../content/images/Pharmacy-90128408-736x414.jpg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}
